/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 #wc_pickup_store, #wc_pickup_date {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

#wc_pickup_store:focus, #wc_pickup_date:focus {
    border-color: #0073aa; /* WooCommerce blue */
    background-color: #fff;
    outline: none;
}

#wc_pickup_store::placeholder, #wc_pickup_date::placeholder {
    color: #999;
    font-style: italic;
}

